<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    
	<bean id="loginWeb" class="web.action.Login" >
		<constructor-arg ref="loginValidate"></constructor-arg>
		<constructor-arg ref="customerService"></constructor-arg>
		<constructor-arg ref="ownerService"></constructor-arg>
	</bean>
	
	 <bean id="homeWeb" class="web.action.Home" >
	</bean>

	<bean id="customerWeb" class="web.action.CustomerAction" >
		<constructor-arg ref="customerService"></constructor-arg>
		<constructor-arg ref="referenceData"></constructor-arg>
	</bean>

	<bean id="orderWeb" class="web.action.OrderAction" >
		<constructor-arg ref="orderService"></constructor-arg>
		<constructor-arg ref="referenceData"></constructor-arg>
		<constructor-arg ref="customerService"></constructor-arg>
	</bean>
     
</beans>